<div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="../assets/img/faces/avatar.jpg" />
      </div>
      <div class="user-info">
        <a data-toggle="collapse" routerLink="/profile"  class="username">
          <span>
           {{user?.first_name}} {{user?.last_name}}
          </span>
        </a>
      </div>
    </div>
    <ul class="nav">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i class="material-icons">dashboard</i>
          <p> Tableau de bord </p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#galeries">
          <i class="material-icons">image</i>
          <p> Galeries
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="galeries">
          <ul class="nav">
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/galleries/photos']">
                <span class="sidebar-mini"> PH </span>
                <span class="sidebar-normal"> Photos </span>
              </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/galleries/videos']">
                <span class="sidebar-mini"> VI </span>
                <span class="sidebar-normal"> Videos </span>
              </a>
            </li>

            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/types']">
                <span class="sidebar-mini"> TY </span>
                <span class="sidebar-normal">  Types </span>
              </a>
            </li>
            
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/galleries/medias']">
                <span class="sidebar-mini"> EV </span>
                <span class="sidebar-normal"> évènements </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" href="#blog">
          <i class="material-icons">content_paste</i>
          <p> Enseignement
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="blog">
          <ul class="nav">
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/tags']">
                <span class="sidebar-mini"> MC </span>
                <span class="sidebar-normal"> Mots Clés </span>
              </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/categories']">
                <span class="sidebar-mini"> CA </span>
                <span class="sidebar-normal"> Catégories </span>
              </a>
            </li>
            <li class="nav-item " routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/articles']">
                <span class="sidebar-mini"> AR </span>
                <span class="sidebar-normal"> Articles </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      
      
      
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/users']">
          <i class="material-icons">groups</i>
          <p> Utilisateurs </p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/roles']">
          <i class="material-icons">rule</i>
          <p> Roles </p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/calendar']">
          <i class="material-icons">date_range</i>
          <p> Annonces </p>
        </a>
      </li>
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/settings']">
          <i class="material-icons">settings</i>
          <p> Paramètres </p>
        </a>
      </li>
    </ul>
  </div>
